.menu{
    background-color: #072935;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.menu li{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.3vw;
}

.inactiveMenu{
    color: #e9f7fc;
}

.activeMenu{
    color: #68B0AB;
}

.menu li:hover{
    color: #68B0AB;
}

li{
    display: inline-block;
}

.footer{
    flex: 1;
    border-top: 2px solid #072935;
    padding: 10px;
}

.description{
    white-space: pre-wrap;
}

.project{
    border-width: 2px;
    border-style: solid;
    border-color: #68B0AB;
    margin-right: 40px;
    text-align: left;
}

.project:hover{
    background-color: #68B0AB;
    font-size: 20px;

}

.project_img{
    width: 20vw;
}

#partide td, th{
    border: 1px solid;
    padding: 2vw;
}